[submodule "namaste-nodejs/devtinder-api"]
	path = namaste-nodejs/devtinder-api
	url = git@github.com:shljsl75891/devtinder-api.git
[submodule "namaste-nodejs/devtinder-ui"]
	path = namaste-nodejs/devtinder-ui
	url = git@github.com:shljsl75891/devtinder-ui.git
[submodule "design-principles-and-patterns"]
	path = design-principles-and-patterns
	url = git@github.com:shljsl75891/design-principles-and-patterns.git
[submodule "observability/opentelemetry"]
	path = observability/opentelemetry
	url = git@github.com:shljsl75891/opentelemetry.git
